# Node dependencies
node_modules/
.env
.env.*           # ignore all environment files like .env.local, .env.development

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
dist/
build/

# OS / IDE junk
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Optional for Render/Vercel/Netlify
.vercel/
.netlify/

# Coverage reports
coverage/
